@import "https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", montserrat;
  --font-lora: "Lora", lora;
  --font-hind-madurai: "Hind Madurai", hind madurai;
}
